:root{
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10110e;
  --color-yellow: #ffe600;
  --color-violet: #c05e5e;
  --color-gray: rgb(131, 129, 129);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-dark-gray); 
  font-family: sans-serif;
  background-image: url("../bg-image/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
