.navigation_container{
    margin-left: 40px;
}
.navigation_button{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;    
}
.navigation_button:active{    
    background-color: var(--color-violet);
}